<h3><a href = "<%= repo.get('htmlUrl') %>" target="_blank"><%= repo.get('name') %></a></h3>
<p>Updated on <%= repo.get('pushedAt').getFullYear() %>/<%= repo.get('pushedAt').getMonth() %>/<%= repo.get('pushedAt').getDate() %></p>